.ContenaireApercu {
    flex: 1 ;
}
.ContenaireApercu_mobile {
    position: absolute;
    left: 2.5vw;
    bottom: clamp(10px,35vh,200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContenairePrincipalApercu {
    position: absolute;
    width: 705px;
    height: 703.5px;
    margin-left: 7.5vw;
    display: flex;
    flex-direction: row;
}

.ContenairePrincipalApercu_mobile {
    position: relative;
    width: 95vw;
    height: 94.797872338vw;
    max-width: 350px;
    max-height: 350px;
    display: flex;
    flex-direction: row;
}

.Apercu_1 {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.Apercu_2 {
    position: relative;
    height: 100%;
    width: 28%;
    margin-left: 3%;
}
  
.Apercu_1_1 {
    position: relative;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 59%;
    width: 100%;
}
  
.Apercu_1_2 {
    width: 100%;
    height: 38.5%;
    margin-top: 3.8%;
    position: relative;
}
  
.Apercu_1_2_1 {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    background-color: #4169E1;
}
  
.Apercu_1_1_1 {
    width: 48%;
    height: 100%;
    position: relative;
    cursor: pointer;
    opacity: 0.85;
    background-color: #4169E1;
}
  
.Apercu_1_1_2 {
    position: relative;
    width: 48%;
    height: 100%;
    margin-left: 4%;
    opacity: 0.85;
    cursor: pointer;
    background-color: #4169E1;
}
  
.Apercu_2_1 {
    position: absolute;
    height: 48.5%;
    width: 100%;
    top: 0%;
    opacity: 0.85;
    cursor: pointer;
    background-color: #4169E1;
}
  
.Apercu_2_2 {
    position: absolute;
    bottom: 0%;
    height: 48.7%;
    width: 100%;
    margin-top: 10%;
    opacity: 0.85;
    cursor: pointer;
    background-color: #4169E1;
}
  
.Contenaire_gif_apercu_1_1_1 {
    width: 90%;
    height: 95%;
    margin-top: 7.5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #4169E1;
}
  
.Contenaire_texte_apercu_1_1_1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top : 5%;
    left: 5%;
    height: 90%;
    background-color: white;
}
  
#gif_1_1_1 {
    background-image: url(/gif-recherche.gif);
    width: auto;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.Contenaire_gif_apercu_1_1_2 {
    width: 90%;
    height: 95%;
    margin-top: 7.5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #4169E1;
}
  
.Contenaire_texte_apercu_1_1_2 {
    position: absolute;
    top : 5%;
    left: 5%;
    height: 90%;
    background-color: white;
}
  
#gif_1_1_2 {
    background-image: url(/gif-prestation-esth.gif);
    width: auto;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.Contenaire_gif_apercu_1_2_1 {
    width: 10%;
    height: 95%;
    position: relative;
    background-color: white;
}
  
.Contenaire_texte_apercu_1_2_1 {
    position: absolute;
    top : 5%;
    left: 5%;
    height: 90%;
    background-color: white;
}
  
#gif_1_2_1 {
    background-image: url(/parsekonlepeu2.png);
    width: 95%;
    height: 90%;
    position: absolute;
    left: 2.5%;
    top: 5%;
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.Contenaire_gif_apercu_2_1 {
    width: 90%;
    height: 95%;
    margin-top: 7.5%;
    margin-left: 5%;
    background-color: #4169E1;
}
  
.Contenaire_texte_apercu_2_1 {
    position: absolute;
    top : 5%;
    left: 5%;
    height: 90%;
    background-color: white;
}
  
#gif_2_1 {
    background-image: url(/gif-contenaire.gif);
    width: auto;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.Contenaire_gif_apercu_2_2 {
    width: 90%;
    height: 95%;
    margin-top: 7.5%;
    margin-left: 5%;
    background-color: #4169E1;
}
  
.Contenaire_texte_apercu_2_2 {
    position: absolute;
    top : 5%;
    left: 5%;
    height: 90%;
    background-color: white;
}
  
#gif_2_2 {
    background-image: url(/gif-reserve-date.gif);
    width: auto;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.BoutonReduir {
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top : 10px;
    right: 10px;
}
  
.VoirPlus {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96%;
    left: 2%;
    height: 5.5%;
    bottom: 0%;
    padding-bottom: 1%;
    background-color: #4169E1;
}
  
.CliquezReduir {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    background-color: #4169E1;
    height: 7%;
    width: 100%;
}
  
.Texte_apercu_context {
    flex: 1;
    display: flex;
    flex-direction: column;
}
  
.Texte_apercu_techno {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  
.Texte_apercu_description {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}