.ContenaireContact {
    flex: 10 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
  
.ContenaireContact_mobile {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
  
.ContenaireContact_mobile_reussi {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.ContenaireContact_mobile_erreur {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContenairePrincipalContact {
  opacity: 0.85;
  width: 50vw;
  height: 70vh;
  min-height: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.ContenairePrincipalContact_mobile {
  position: absolute;
  opacity: 0.90;
  top: 10vh;
  display: flex;
  flex-direction: column;
}

.TitreContact {
  display: flex;
  padding-left: 2%;
  align-items: flex-end;
  flex: 1;
}

.TitreContact_mobile {
  display: flex;
  padding-left: 2%;
  align-items: flex-end;
  flex: 1;
  height: 5vh;
  width: 90vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.TexteTitreContact {
  color: #00008B;
  font-weight: bold;
  font-size: 110%;
}

.NomEmail {
  display: flex;
  flex-direction: row;
  min-height:45px;
  min-width: 400px;
  flex: 1;
}

.NomEmail_mobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 5vh;
  min-height:70px;
  margin-right: 5vw;
  margin-left: 5vw;
}

.Nom {
  flex: 1;
  display: flex;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.Email {
  display: flex;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  flex: 1;
}

.InputNom {
  flex: 1;
  border: solid #00008B 2px;
  padding-left: 10px;
  font-size: 120%;
}

.InputEmail {
  flex: 1;
  border: solid #00008B 2px;
  padding-left: 10px;
  font-size: 120%;
}


.Sujet {
  display: flex;
  min-width: 526px;
  min-height:45px;
  flex: 1;
  backface-visibility: hidden;
}

.Sujet_mobile {
  display: flex;
  flex: 1;
  height: 5vh;
  min-height:30px;
  margin-right: 5vw;
  margin-left: 5vw;
  backface-visibility: hidden;
}

.InputSujet {
  flex: 1;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  border: solid #00008B 2px;
  padding-left: 10px;
  font-size: 120%;
}

.Message {
  display: flex;
  min-height:135px;
  min-width: 526px;
  flex: 5;
  backface-visibility: hidden;
}

.Message_mobile {
  display: flex;
  flex: 5;
  height: 20vh;
  min-height:90px;
  margin-right: 5vw;
  margin-left: 5vw;
  backface-visibility: hidden;
}

.InputMessage {
  flex: 1;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  border: solid #00008B 2px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 120%;
}

.Envoyer {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height:45px;
  min-width: 400px;
}

.Envoyer_mobile {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 5vh;
  min-height:30px;
  margin-right: 5vw;
  margin-left: 5vw;
}

.ContenaireEnvoyer1 {
  flex: 4;
  min-width: 425px;
}

.ContenaireEnvoyer1_mobile {
  flex: 4;
}

.ContenaireEnvoyer2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ContenaireEnvoyer2_mobile {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100px;
}

.BoutonEnvoyer {
  cursor: pointer;
  flex : 1;
  height: 80%;
  border: solid ;
  border-color: #00008B;
  background-color: #00008B;
  border-radius: 10px;
  color: white;
  font-size: 100%;
  font-weight: bold;
}

.contenaire_envoyer {
  border: solid;
  border-color: #065446;
  background-color: #a7beab;
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenaire_envoyer_mobile {
  border: solid;
  border-color: #065446;
  background-color: #a7beab;
  width: 70vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenaire_envoyer_encours_mobile {
  position: absolute;
  left: 15vw;
  top: 35vh;
  width: 70vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenaire_envoyer_erreur {
  border: solid;
  border-color: #cd0a0a;
  background-color: #c79797;
  width: 30vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenaire_envoyer_erreur_mobile {
  border: solid;
  border-color: #cd0a0a;
  background-color: #c79797;
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}