.App-web {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  min-height: 400px;
  min-width: 700px;
}

.ContenaireHome {
  flex: 10 ;
  background-color: #efe7ff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.ContenaireInfoPerso {
  flex: 10 ;
  background-color: #d9f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ContenaireApercu {
  flex: 1 ;
  min-width: 1100px;
  min-height: 730px;
  background-color: #dbe2f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ContenaireContact {
  flex: 10 ;
  background-color: #d1d1ec;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.ContenaireCompetence {
  flex: 10 ;
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ContenairePrincipalInfoPerso {
  width: 50vw;
  height: 50vh;
  min-width: 400px;
  min-height: 400px;
  margin-left: 10vw;
  display: flex;
  perspective: 600px;
}

.ContenairePrincipalCompetence {
  width: 50vw;
  height: 50vh;
  margin-left: 10vw;
  min-height: 400px;
  min-width: 400px;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ContenairePrincipalContact {
  width: 50vw;
  height: 70vh;
  min-height: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.ContenairePrincipalApercu {
  /* width: 96vh; */
  width: 705px;
  height: 703.5px;
  /* height: 75vh; */
  background-color: brown;
  min-width: 500px;
  min-height: 400px;
  margin-left: 7.5vw;
  display: flex;
  flex-direction: row;
}

.Apercu_1 {
  background-color: chartreuse;
  height: 100%;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
}

.Apercu_2 {
  background-color: crimson;
  height: 100%;
  margin-left: 3%;
}

.Apercu_1_1 {
  background-color: darkblue;
  height: 59%;
  width: 100%;
}

.Apercu_1_2 {
  background-color: darkgoldenrod;
  width: 100%;
  height: 38.5%;
  margin-top: 3.8%;
}

.Apercu_1_2_1 {
  /* margin-top: 46.8vh;
  width: 63.8vh;
  height: 27.5vh;
  min-width: 130px;
  min-height: 140px; */
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 13;
  grid-row-end: 21;
  cursor: pointer;
  border: solid #4169E1;
  background-color: #4169E1;
}

.Apercu_1_1_1 {
  /* width: 32%;
  height: 59%;
  min-width: 130px;
  min-height: 230px; */
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 13;
  cursor: pointer;
  border: solid #4169E1;
  background-color: #4169E1;
}

.Apercu_extensible_1_1_1 {
  width: 90%;
  height: 90%;
  /* margin-top: 5%;
  margin-left: 5%; */
  background-color: rgb(158, 24, 24);
}

.Apercu_extensible_1_1_2 {
  width: 90%;
  height: 90%;
  /* margin-top: 5%;
  margin-left: 5%; */
  background-color: rgb(158, 24, 24);
}

.Apercu_extensible_1_2_1 {
  width: 90%;
  height: 90%;
  /* margin-top: 5%;
  margin-left: 5%; */
  background-color: rgb(158, 24, 24);
}

.Apercu_extensible_2_1 {
  width: 90%;
  height: 90%;
  /* margin-top: 5%;
  margin-left: 5%; */
  background-color: rgb(158, 24, 24);
}

.Apercu_extensible_2_2 {
  width: 90%;
  height: 90%;
  /* margin-top: 5%;
  margin-left: 5%; */
  background-color: rgb(158, 24, 24);
}

.Apercu_1_1_2 {
  /* width: 32%;
  height: 59%;
  min-width: 130px;
  min-height: 200px;
  margin-left: 34.8%;
  margin-top: -46.5%; */
  grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 13;
  cursor: pointer;
  border: solid #4169E1;
  background-color: #4169E1;
}


.Apercu_2_1 {
  /* width: 29vh;
  height: 36vh;
  margin-left: 69.2%;
  margin-top: -124.6%; */
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 11;
  width: 80.5%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #4169E1;
  background-color: #4169E1;
}

#gif_1_1_1 {
  background-image: url(/gif-recherche.gif);
  width: auto;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
}

#gif_1_1_2 {
  background-image: url(/gif-prestation-esth.gif);
  width: auto;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
}

#gif_2_1 {
  background-image: url(/gif-contenaire.gif);
  width: auto;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
}

#gif_2_2 {
  background-image: url(/gif-reserve-date.gif);
  width: auto;
  height: 90%;
  background-size: contain;
  background-repeat: no-repeat;
}


.Apercu_2_2 {
  /* width: 29vh;
  height: 36vh;
  margin-left: 66.3vh;
  margin-top: 38.3vh; */
  grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 11;
   grid-row-end: 21;
   width: 80.5%;
  cursor: pointer;
  border: solid #4169E1;
  background-color: #4169E1;
}

.BoutonReduir {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top : 10px;
  right: 10px;
}

.VoirPlus {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  left: 2%;
  height: 30px;
  background-color: #4169E1;
}

.TitreContact {
  display: flex;
  padding-left: 2%;
  align-items: flex-end;
  flex: 1;
}

.TexteTitreContact {
  color: #00008B;
  font-weight: bold;
  font-size: 110%;
}

.NomEmail {
  display: flex;
  flex-direction: row;
  min-height:45px;
  min-width: 400px;
  /* margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px; */
  flex: 1;
}

.Nom {
  flex: 1;
  display: flex;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
}

.Email {
  display: flex;
  /* min-width: 186px; */
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  flex: 1;
}

.InputNom {
  flex: 1;
  border: solid #00008B 2px;
  padding-left: 10px;
  font-size: 120%;
}

.InputEmail {
  flex: 1;
  border: solid #00008B 2px;
  padding-left: 10px;
  font-size: 120%;
}


.Sujet {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  min-width: 526px;
  min-height:45px;
  flex: 1;
  backface-visibility: hidden;
}

.InputSujet {
  flex: 1;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  border: solid #00008B 2px;
  padding-left: 10px;
  font-size: 120%;
}

.Message {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  min-height:135px;
  min-width: 526px;
  flex: 5;
  backface-visibility: hidden;
}

.InputMessage {
  flex: 1;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  border: solid #00008B 2px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 120%;
}

.Envoyer {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-height:45px;
  min-width: 400px;
}

.ContenaireEnvoyer1 {
  flex: 4;
  min-width: 425px;
}

.ContenaireEnvoyer2 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 100px;
}

.BoutonEnvoyer {
  flex : 1;
  height: 80%;
  border: solid ;
  border-color: #00008B;
  background-color: #00008B;
  border-radius: 10px;
  color: white;
  font-size: 100%;
  font-weight: bold;
}

.CarteVisite {
  flex: 1;
  background-color: rgb(255, 255, 255);
  border:  solid;
  border-color: #0abde3;
  border-radius: 2vh;
  box-shadow: #b2dbe4 5px 5px;
  display: flex;
  flex-direction: row;
}

.CarteVisiteGauche {
  flex: 1;
  margin-top: 2%;
  margin-bottom: 2%;
  border-right: solid;
  border-width: 1.2pt;
  border-color: #0abde3;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.TexteCarteVisiteGauche {
  margin-left: 2%;
  font-weight: bold;
  text-align: center;
}

.CarteVisiteDroite {
  flex:  1;
  margin-top: 2%;
  margin-bottom: 2%;
  border-left: solid;
  border-width: 1.2pt;
  border-color: #0abde3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TexteCarteVisiteDroite {
  margin-left: 2%;
  font-weight: bold;
  text-align: center;
}


.TexteCompetence1 {
  font-size: 100%;
  font-weight: bold;
  color: white;
}

.ContenaireCompetence1 {
  flex: 10;
  padding-left: 20px;
}


.Competence1 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* top: 20%; */
  /* right: 10%; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Competence2 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* margin-top: 30%; */
  /* right: 25vw; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Competence3 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* top: 40vh;
  right: 25vw; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Competence4 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* top: 50vh;
  right: 25vw; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Competence5 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* top: 60vh;
  right: 25vw; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Competence6 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* top: 70vh;
  right: 25vw; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Competence7 {
  /* position: absolute; */
  flex : 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 45px;
  margin-bottom: 10px;
  /* top: 80vh;
  right: 25vw; */
  background-color: #222f3e;
  border-radius: 2vh;
}

.Compos {
  width: 100%;
}

.Compos {
  width: 100%;
}

.BordureArrondiGauche {
  /* flex: 1; */
  position: absolute;
  width: 10vw;
  height: 100vh;
  min-height: 400px;
  /* min-width: 50px; */
  top: 0px;
  left: 0px;
  background-color: #5f27cd;
  border-top-right-radius: 50% ;
  border-bottom-right-radius: 50%;
  border-width: 1px;
}

.ContenaireBoutonNavigation {
  position: absolute;
  width: 10vw;
  height: 100vh;
  min-height: 400px;
  min-width: 90px;
  top: 0px;
  left: 10vw;
  display: flex;
  /* border: solid black; */

}

.Contenaire-Description-global {
  flex: 2;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15;
  margin-left: 15vw;
  /* padding-right: 15vw; */
  /* background-color: white; */
  background-color: #efe7ff;
}

.DescriptionGlobal1 {
  font-family: cursive;
  text-align: center;
  font-size: 30pt;
  color: rgb(0, 0, 0);
}

.DescriptionGlobal2 {
  font-family: cursive;
  text-align: center;
  font-size: 30pt;
  color: rgb(0, 0, 0);
}

.Contenaire-phrase-daccroche {
  flex: 1;
}

.Contenaire-anime {
  /* background-color: rgb(251, 248, 251); */
  flex: 5;
}

.Anime {
  background-color: #efe7ff;
  display: inline-block;
  position: relative;
  padding-bottom: 15%;
  padding-left: 0%;
  padding-top: 5%;
  margin-left: 18%;
  width: 70%;
  height: 20%;
  overflow: hidden;
}

.Bouton-1-derriere {
  position: absolute;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 12.2%;
  /* left: 10vw;
  bottom: 77vh; */
  /* position: absolute; */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Bouton-1-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  /* border-color: #0abde3; */
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 12%;
  backface-visibility: hidden;
}

.Bouton-2-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 28.5%;
  left: 10%;
  backface-visibility: hidden;
}

.Bouton-2-derriere {
  background-color: #1dd1a1;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 28.9%;
  left: 11.5%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-3-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  border-color: #5f27cd;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 45%;
  left: 15%;
  backface-visibility: hidden;
}

.Bouton-3-derriere {
  background-color: #5f27cd;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 50%;
  left: 15%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-4-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  border-color: #8395a7;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 27.5%;
  left: 10%;
  backface-visibility: hidden;
}

.Bouton-4-derriere {
  background-color: #8395a7;
  position: absolute;
  border-radius: 50%;
  width: 10.2vh;
  min-width: 45px;
  height: 10.2vh;
  min-height: 45px;
  bottom: 27.9%;
  left: 11.9%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-5-derriere {
  position: absolute;
  background-color: #222f3e;
  position: absolute;
  border-radius: 50%;
  /* left: 10vw;
  bottom: 17vh; */
  width: 10.2vh;
  min-width: 45px;
  height: 10.2vh;
  min-height: 45px;
  bottom: 12.5%;
  left: 1.9%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-5-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 12%;
  backface-visibility: hidden;
}

.Gestion-rotat-1 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 12%;
  opacity: 0;
}

.Gestion-rotat-2 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 28.5%;
  left: 10%;
  opacity: 0;
}

.Gestion-rotat-5 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 12%;
  opacity: 0;
}

.Gestion-rotat-4 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 26.4%;
  left: 10%;
  opacity: 0;
}
