.App-web {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 400px;
  min-width: 700px;
}

.App-web_mobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.Contenaire_anim_de_fond {
  position: absolute;
  width: 80vw;
  height:100vh;
  left: 20vw;
  top: 0px
}

.Contenaire_anim_de_fond_mobile {
  position: absolute;
  width: 100vw;
  height:80vh;
  left: 0vw;
}

.BordureArrondiGauche {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10vw;
  height: 100%;
  min-height: 400px;
  top: 0px;
  left: 0px;
  background-color: #5f27cd;
  border-top-right-radius: 50% ;
  border-bottom-right-radius: 50%;
  border-width: 1px;
}

.BordureArrondi_mobile {
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 0px;
  left: 0px;
  background-color: #5f27cd;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50%;
  border-width: 1px;
}

.Titre_page_actuel_mobile {
  width: 40%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Texte_titre_page_actuel_mobile {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  font-family: cursive;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase
}

.ContenaireBoutonNavigation {
  position: absolute;
  width: 10vw;
  height: 100%;
  min-height: 400px;
  min-width: 90px;
  top: 0px;
  left: 10vw;
  display: flex;
}

.ContenaireBoutonNavigation_mobile {
  position: absolute;
  width: 100vw;
  height: 10vh;
  bottom: 0px;
  left: 10vw;
  display: flex;
}

.Texte_bouton {
  color : white;
  font-size : 2.5vh;
  font-family : cursive;
  text-align : center
}

.Bouton-1-derriere {
  position: absolute;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 12.2%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Bouton-1-derriere_mobile {
  position: absolute;
  width: 16.5vw;
  height: 16.5vw;
  bottom: 0%;
  max-width: 77px;
  max-height: 77px;
  left: 4vw;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.Bouton-1-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 12%;
  backface-visibility: hidden;
}

.Bouton-1-devant_mobile {
  background-color: #ffffff;
  border : solid;
  border-width: clamp(0.5px, 1vw, 3px);
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  max-width: 70px;
  max-height: 70px;
  bottom: 0%;
  left: 4vw;
  backface-visibility: hidden;
}

.Bouton-2-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 28.5%;
  left: 10%;
  backface-visibility: hidden;
}

.Bouton-2-devant_mobile {
  background-color: #ffffff;
  border : solid;
  border-width: clamp(0.5px, 1vw, 3px);
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  max-width: 70px;
  max-height: 70px;
  bottom: 15%;
  left: 23vw;
  backface-visibility: hidden;
}

.Bouton-2-derriere {
  background-color: #1dd1a1;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 28.9%;
  left: 11.5%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-2-derriere_mobile {
  position: absolute;
  border-radius: 50%;
  width: 16.5vw;
  height: 16.5vw;
  max-width: 77px;
  max-height: 77px;
  bottom: 15%;
  left: 23vw;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-3-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  border-color: #5f27cd;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 45%;
  left: 15%;
  backface-visibility: hidden;
}

.Bouton-3-devant_mobile {
  background-color: #ffffff;
  border : solid;
  border-width: clamp(0.5px, 1vw, 3px);
  border-color: #5f27cd;
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  max-width: 70px;
  max-height: 70px;
  bottom: 20%;
  left: 42vw;
  backface-visibility: hidden;
}

.Bouton-3-derriere {
  background-color: #5f27cd;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 50%;
  left: 15%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-3-derriere_mobile {
  background-color: #5f27cd;
  position: absolute;
  border-radius: 50%;
  width: 16.5vw;
  height: 16.5vw;
  max-width: 77px;
  max-height: 77px;
  bottom: 20%;
  left: 35.8vw;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-4-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  border-color: #8395a7;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 27.5%;
  left: 10%;
  backface-visibility: hidden;
}

.Bouton-4-devant_mobile {
  background-color: #ffffff;
  border : solid;
  border-width: clamp(0.5px, 1vw, 3px);
  border-color: #8395a7;
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  max-width: 70px;
  max-height: 70px;
  bottom: 15%;
  left: 61vw;
  backface-visibility: hidden;
}

.Bouton-4-derriere {
  background-color: #8395a7;
  position: absolute;
  border-radius: 50%;
  width: 10.2vh;
  min-width: 45px;
  height: 10.2vh;
  min-height: 45px;
  bottom: 27.9%;
  left: 11.9%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-4-derriere_mobile {
  background-color: #8395a7;
  position: absolute;
  border-radius: 50%;
  width: 16.5vw;
  height: 16.5vw;
  max-width: 77px;
  max-height: 77px;
  bottom: 15%;
  left: 61vw;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-5-derriere {
  position: absolute;
  background-color: #222f3e;
  position: absolute;
  border-radius: 50%;
  width: 10.2vh;
  min-width: 45px;
  height: 10.2vh;
  min-height: 45px;
  bottom: 12.5%;
  left: 1.9%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-5-derriere_mobile {
  position: absolute;
  background-color: #222f3e;
  position: absolute;
  border-radius: 50%;
  width: 16.5vw;
  height: 16.5vw;
  max-width: 77px;
  max-height: 77px;
  bottom: 0%;
  left: 80vw;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Bouton-5-devant {
  background-color: #ffffff;
  border : solid;
  border-width: 0.5vh;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 12%;
  backface-visibility: hidden;
}

.Bouton-5-devant_mobile {
  background-color: #ffffff;
  border : solid;
  border-width: clamp(0.5px, 1vw, 3px);
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  max-width: 70px;
  max-height: 70px;
  left: 80vw;
  bottom: 0%;
  backface-visibility: hidden;
}

.Gestion-rotat-1 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 12%;
  opacity: 0;
}

.Gestion-rotat-1_mobile {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  bottom: 0%;
  left: 4vw;
  opacity: 0;
}

.Gestion-rotat-2 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  top: 28.5%;
  left: 10%;
  opacity: 0;
}

.Gestion-rotat-2_mobile {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  bottom: 15%;
  left: 23vw;
  opacity: 0;
}

.Gestion-rotat-5 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 12%;
  opacity: 0;
}

.Gestion-rotat-5_mobile {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  bottom: 0%;
  left: 80vw;
  opacity: 0;
}

.Gestion-rotat-4 {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 10vh;
  min-width: 45px;
  height: 10vh;
  min-height: 45px;
  bottom: 26.4%;
  left: 10%;
  opacity: 0;
}

.Gestion-rotat-4_mobile {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  bottom: 15%;
  left: 61vw;
  opacity: 0;
}
.Anim_de_fond_1 {
  position: absolute;
  background-color: tomato;
  opacity: 0
}

